# Extraction

## From https://coinmarketcap.com

In [1]:
import urllib.request as urllib2
from bs4 import BeautifulSoup
import pandas as pd
import datetime
import csv

In [2]:
# Data since 2013/04/28 to 2020/06/07
today = datetime.date.today()
mktcap_page = 'https://coinmarketcap.com/currencies/bitcoin/historical-data/?start=20130428&amp;end='+"{:%Y%m%d}".format(today)
page = urllib2.urlopen(mktcap_page)
soup = BeautifulSoup(page, 'html.parser')
table = soup.find("table")

In [3]:
## headings = [th.get_text().strip() for th in table.find("tr").find_all("td")]
headings = [th.get_text().strip() for th in table.find("tr").find_all("th")]
headings

['Date', 'Open*', 'High', 'Low', 'Close**', 'Volume', 'Market Cap']

In [4]:
headings = [x.replace('*','') for x in headings]
headings

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap']

In [5]:
datasets = []

for row in soup.find_all("tr")[1:]:
    dataset = dict(zip(headings, (tr.get_text() for tr in row.find_all("td"))))
    if len(dataset) > 1:
        datasets.append(dataset)

datasets[0]

{'Date': 'Jul 08, 2020',
 'Open': '9,253.02',
 'High': '9,450.34',
 'Low': '9,249.50',
 'Close': '9,428.33',
 'Volume': '19,702,359,883',
 'Market Cap': '173,738,543,115'}

In [6]:
my_df = pd.DataFrame(datasets)
my_df.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Jul 08, 2020","9,253.02","9,450.34","9,249.50","9,428.33","19,702,359,883","173,738,543,115"
1,"Jul 07, 2020","9,349.16","9,360.62","9,201.82","9,252.28","13,839,652,595","170,485,472,276"
2,"Jul 06, 2020","9,072.85","9,375.47","9,058.66","9,375.47","17,889,263,252","172,746,103,840"
3,"Jul 05, 2020","9,126.09","9,162.18","8,977.02","9,073.94","12,903,406,143","167,181,726,154"
4,"Jul 04, 2020","9,084.23","9,183.30","9,053.63","9,132.49","12,290,528,515","168,251,076,678"

In [7]:
full_data = my_df.set_index('Date')
#full_data = df[['Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap']]
full_data.to_csv('full_data_btc_080072020.csv', index=True, header=True)

In [8]:
full_data.head(10)

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
"Jul 08, 2020","9,253.02","9,450.34","9,249.50","9,428.33","19,702,359,883","173,738,543,115"
"Jul 07, 2020","9,349.16","9,360.62","9,201.82","9,252.28","13,839,652,595","170,485,472,276"
"Jul 06, 2020","9,072.85","9,375.47","9,058.66","9,375.47","17,889,263,252","172,746,103,840"
"Jul 05, 2020","9,126.09","9,162.18","8,977.02","9,073.94","12,903,406,143","167,181,726,154"
"Jul 04, 2020","9,084.23","9,183.30","9,053.63","9,132.49","12,290,528,515","168,251,076,678"
"Jul 03, 2020","9,124.84","9,202.34","9,058.79","9,087.30","13,078,970,999","167,409,720,388"
"Jul 02, 2020","9,231.14","9,274.96","9,036.62","9,123.41","16,338,916,796","168,065,586,387"
"Jul 01, 2020","9,145.99","9,309.75","9,104.73","9,228.33","15,971,550,355","169,988,756,578"
"Jun 30, 2020","9,185.58","9,217.84","9,084.84","9,137.99","15,735,797,744","168,315,606,321"
"Jun 29, 2020","9,140.03","9,237.57","9,041.88","9,190.85","16,460,547,078","169,280,659,246"

In [9]:
full_data.shape

(2629, 6)

In [10]:
full_data.dtypes

Open          object
High          object
Low           object
Close         object
Volume        object
Market Cap    object
dtype: object

In [11]:
def obj_to_int(x):
    x = x.replace(',','')
    return float(x)
full_data['Close'] = full_data['Close'].apply(obj_to_int)
full_data['Open'] = full_data['Open'].apply(obj_to_int)
full_data.head()

,Open,High,Low,Close,Volume,Market Cap
Date,,,,,,
"Jul 08, 2020",9253.02,"9,450.34","9,249.50",9428.33,"19,702,359,883","173,738,543,115"
"Jul 07, 2020",9349.16,"9,360.62","9,201.82",9252.28,"13,839,652,595","170,485,472,276"
"Jul 06, 2020",9072.85,"9,375.47","9,058.66",9375.47,"17,889,263,252","172,746,103,840"
"Jul 05, 2020",9126.09,"9,162.18","8,977.02",9073.94,"12,903,406,143","167,181,726,154"
"Jul 04, 2020",9084.23,"9,183.30","9,053.63",9132.49,"12,290,528,515","168,251,076,678"

In [12]:
full_data[['Open','Close']][::-1].plot(grid=True, figsize=(15, 10))